body {
  margin: 0;
}
.leaflet-container {
  width: 100%;
  height: calc(100vh - 128px);
}
.ant-table-cell {
  cursor: pointer;
}
.ant-table-row.activeRow .ant-table-cell,
.ant-table-row.activeRow .ant-table-cell-fix-left,
.ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #f0f0f0;
}
.ant-table-cel-row-hover {
  border: none;
}
.ant-layout-header,
.ant-layout-footer {
  text-align: center;
  color: #fff;
  background: #7dbcea;
}

.ant-layout-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
